@model RecipeBlogApp.Models.Recipe

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .my-text {
        color: #d39f66;
    }

    .content {
        margin: 0 auto;
        padding: 10px;
    }

    img {
        width: 50%;
        height: auto;
    }

    .show-white-space {
        white-space: pre-wrap;
        text-align: center;
    }
</style>

<body>
    <div class="center container-fluid my-text">
        @*<div class="content">*@
        <h2 style="text-align:center">@Html.DisplayFor(model => model.Title)</h2>

        <img src="data:image/jpg;base64, @Model.Image" class="center" width="150" height="100" alt="Recipe's image">

        <p class="show-white-space"><b>Number of servings: </b> @Html.DisplayFor(model => model.Servings)</p>
        <p class="show-white-space"><b>List of Ingredients:</b><br /> @Html.DisplayFor(model => model.Ingredients)</p>
        <p class="show-white-space"><b>Method:</b><br /> @Html.DisplayFor(model => model.Method)</p>
        <br />
        <div class="center">
            <a class="my-text" asp-action="Index">Back to Home</a> |
            @Html.ActionLink("Edit", "Update", new { id = Model.ID }, new { @style = "color:#d39f66;" }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @style = "color:#d39f66;" })
        </div>
        @*</div>*@
    </div>
</body>
